<app-header [headerTitle]="headerTitle"></app-header>
<ion-content>

    <div style="border-left: 6px solid #2c5aa3;padding: 10px;background-color: #fff;margin: 15px;line-height: 1.5;margin-bottom: 25px;">
      <span style="font-size: 14px;">
        Pour tout besoin d’assistance, consulter notre FAQ sur le site <a href="http://www.upay.africa">www.upay.africa</a>
        ou contacter notre service relation client
      </span>
    </div>
  
    <div style="display: flex;justify-content: start;flex-direction: column;align-items: center">
      <div style="display: flex;align-items: center;justify-content: space-between;width: 230px;margin: 5px ">
        <a href="tel:+221338693130" >
  
            <ion-icon size="large"name="call"></ion-icon>
         
        </a>
        <span>
        <a href="tel:+221338693130" style="font-size: 18px;color:#2c5aa3">(+221) 33 869 31 30</a>
      </span>
      </div>
  
      <div style="display: flex;align-items: center;justify-content: space-between;width: 230px;margin: 5px">
        <a href="mailto:contact@upay.africa">
  
            <ion-icon size="large" name="mail"></ion-icon>
  
        </a>
        <span>
        <a href="mailto:contact@upay.africa" style="font-size: 18px;color:#2c5aa3">contact@upay.africa</a>
      </span>
      </div>
    </div>
  </ion-content>
  <app-footer></app-footer>