<ion-app>
  <!--     <ion-menu  side="start">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          menu stuff
        </ion-content>
      </ion-menu>
  <ion-router-outlet></ion-router-outlet> -->
  <div id="menulateral">
    <ion-split-pane>
      <ion-menu swipeGesture="false" type="overlay" style="--background: linear-gradient(#2d5ba4, #2364cc)!important;/*#2d5ba4*/">
        <ion-header>
          <div id="msg_acceuil">
            <div>
              <div>Bienvenue, {{glb.PRENOM}} {{glb.NOM}}</div>
              <div id="telef">{{glb.PHONE}}</div>
            </div>
          </div>

          <!--           <ion-toolbar style="--ion-background-color:#F2F2F2 !important">
            <ion-title >Menu</ion-title>
          </ion-toolbar> -->
        </ion-header>
        <ion-content style="--ion-background-color:none !important">
          <div id="contentmenu"
            style="height:100%;display: flex;align-items: flex-end; justify-content: space-between;flex-direction: column;">
            <div id="utils">
              <div (click)="verspage('utilisateur/resetpin')">
                <span><img style="width:30%;" src="assets/images/icon-param.png" /></span>
                <label>Paramétres</label>
              </div>
              <div (click)="verspage('favoris')">
                <span><img style="width:30%;" src="assets/images/icon-favoris.png" /></span>
                <label>Favoris</label>
              </div>
              <div (click)="verspage('utilisateur/support')">
                <span><img style="width:30%;" src="assets/images/icon-msg.png" /></span>
                <label>Contact</label>
              </div>
            </div>

            <div class="listul">
              <ul>
                <ion-menu-toggle auto-hide="false">
                  <li (click)="vershome()">
                    <span><img style="height:20px;"  src="assets/images/icon-accueil.png" /></span>   
                    <label>Accueil</label>
                  </li>
                </ion-menu-toggle>
                 <li (click)="verspage('utilisateur/resetpin')">
                  <span><img style="height:20px;" src="assets/images/icon-profil.png" /></span>
                  <label>Changement pin</label>
                </li> 
                <li (click)="deplafonnement()">
                  <span><img style="height:20px;" src="assets/images/icon-profil.png" /></span>
                  <label>Profil/Déplafonnement</label>
                </li>
                <li (click)="verspage('utilisateur/support')">
                  <span><img style="height:20px;"  src="assets/images/icon-assistance.png" /></span>
                  <label>Service client</label>
                </li>
                <ion-menu-toggle auto-hide="false">
                  <li (click)="verspage('favoris')">
                    <span><img style="height:20px;"  src="assets/images/icon-fav.png" /></span>
                    <label>Favoris</label>
                  </li>
                </ion-menu-toggle>
                <ion-menu-toggle auto-hide="false">
                    <li (click)="verspage('utilisateur/inbox')">
                      <span>
                        <ion-icon size="large" style="height:28px; " name="notifications-outline"></ion-icon>
                        <ion-badge id="cart-badge" *ngIf="glb.nombreNotif > 0" color="danger">{{glb.nombreNotif}}</ion-badge>
                      </span>
                      <label>Mes notifications</label>
                    </li>
                  </ion-menu-toggle>
           <!--      <li>
                  <span><img style="height:20px;"  src="assets/images/icon-cont.png" /></span>
                  <label>Mes contacts</label>
                </li> -->
                <ion-menu-toggle auto-hide="false">
                  <li (click)="vershistorique()">
                    <span><img style="height:20px;"  src="assets/images/icon-trx.png" /></span>
                    <label>Historique transactions</label>
                  </li>
                </ion-menu-toggle>
                <li (click)="verscgu()">
                  <span>
                    <ion-icon size="large" style="height:28px; " name="ios-information-circle-outline"></ion-icon>
                  </span>
                  <label>CGU</label>
                </li>
                <li (click)="verssite()">
                    <a style="color: inherit; text-decoration: none;" href="http://www.upay.africa"><span><img style="height:20px;"  src="assets/images/icon-accueil.png" /></span>
                      <label>Site web</label></a>
                </li>
              </ul>
            </div>
          </div>
        </ion-content>
        <ion-footer>
          <div class="listul">
            <ul>
              <ion-menu-toggle auto-hide="false">
                <li class="deconnect" (click)="deconnexion()">
                  <span><img src="assets/images/logout.png" /></span>
                  <label>Déconnexion</label>
                </li>
              </ion-menu-toggle>

            </ul>
          </div>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </div>
</ion-app>