
<ion-content>
  <div class="bodycontent" style="display: flex;">
    <div style="width: 40px;background: #1F5E9E;display: flex;justify-content: flex-end;padding:5px;flex-direction:column">
         <img src="assets/images/etoiles.png" alt="">
         <img src="assets/images/etoiles.png" alt="">
    </div>
    <div style="flex: 1;padding: 20px;background: #fff;overflow-y: scroll;">
      <H6 style="color:#1F5E9E;font-size: 12px;font-weight: 600;">
        CONDITIONS GENERALES D'UTILISATUON
      </H6>
      <P class="para">
        Les présentes conditions générales d’utilisation (ci-après dénommées « CGU ») ont pour objet de déterminer les règles d’utilisation de l’Application web et mobile « UPAY » (ci-après dénommée l’« Application ») éditée par la société Africa Transaction Processing & Services  (ci-après dénommée « ATPS »).
      </P>
      <P class="para">
        En installant l’Application sur votre terminal mobile et/ou en accédant à l’Application directement sur le site Web, vous acceptez sans condition ni réserve l’intégralité des Conditions Générales d’Utilisation - CGU définies ci-après. Si vous ne souhaitez pas accepter les présentes CGU, nous vous demandons de ne pas accéder à l’Application.
      </P>
      <P class="para">
        Tout accès à l’Application et/ou son utilisation doit ainsi se faire dans le strict respect des présentes CGU.
        Il est important de prendre connaissance de l’intégralité des présentes CGU avant d’utiliser l’Application et de manière régulière. Elles établissent le cadre contractuel des modalités et obligations liées au téléchargement et/ou l’utilisation de l’Application web ou mobile, son contenu ainsi que ses fonctionnalités.
      </P>
      <P class="para">
        Les CGU sont accessibles sur la page d’accueil de l’Application et susceptibles d’être modifiées à tout moment et sans préavis par l’éditeur ATPS.
      </P>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">1</span>
      </span>
      <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">DEFINITIONS</span>
      </div>
      <P class="para">
        Les termes définis dans le présent article ont, la signification qui leur est donnée ci-après :
      </P>
      <P class="para">
        <b>Application</b> désigne l’application cross-plateforme (IOS, Android, Windows, etc.) «UPAY» éditée et fournie par ATPS, donnant accès aux Services, et disponible gratuitement. L’Application comprend également les différents contenus et fichiers accessibles à l’Utilisateur relatifs aux services de paiement intégrés dans l’application.
      </P>
      <P class="para">
        <b> Contenu</b> désigne sans que cette liste soit limitative, la structure de l’Application, le contenu éditorial, les dessins, les illustrations, les images, les photographies, les chartes graphiques, les marques, les logos, les sigles, les dénominations sociales, les œuvres audiovisuelles, les textes, les concepts, les œuvres multimédia, les contenus visuels, les contenus audio et sonores, ainsi que tout autre contenu présent au sein de l’Application et/ou tout autre élément composant l’Application ;
      </P>

      <p class="para">
        <b>CGU</b> désignent les conditions générales d’utilisation et les conditions particulières d’utilisation de « UPAY » applicables aux informations, qui figurent sur le Site internet dédié et au niveau de l’Application Mobile ;
      </p>
      <p class="para">
        <b>Éditeur</b> désigne Africa Transanction Processing & Services (ATPS);
      </p>

      <p class="para">
        <b>Services</b> désignent les différentes fonctionnalités et services proposés via l’Application ;
      </p>

      <p class="para">
        <b>Site</b> désigne le site web officiel de l’Application et dont l’adresse est la suivante : www.UPay.africa ;
      </p>

      <p class="para">
        <b>Utilisateur ou Vous</b> désigne toute personne physique sans discrimination fondée sur, le sexe, le statut matrimonial, l’appartenance à un groupe ethnique ou religieux ayant téléchargé l’Application pour ses besoins propres, dans le cadre d’un usage strictement personnel et non commercial, sans but lucratif direct ou indirect.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">2</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">OBJET DE L’APPLICATION</span>
      </div>
      <p class="para">
        L’Application a pour objet de permettre à l’Utilisateur d’accéder aux services proposés via UPay.
      </p>

      <p class="para">
        Elle présente, à travers différentes thématiques, les services proposés à l’Utilisateur, notamment :
      </p>
      <ul>
        <li>recevoir de l’argent quelle qu'en soit la provenance et le positionner sur le compte de son choix : wallet, carte bancaire, compte bancaire;</li>
        <li>payer des factures, recharger du crédit, ou régler ses achats en ligne ou en magasin ;</li>
        <li>déplacer ses unités de valeur d’un compte à l’autre à travers divers opérateurs sans se déplacer.</li>
      </ul>

      <p class="para">
        Cette liste est non exhaustive et peut être modifiée à tout moment par l’éditeur sans que sa responsabilité ne puisse être engagée à ce titre.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">3</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">ACCES A L’APPLICATION</span>
      </div>

      <p class="para">
        L’Application « UPAY » est proposée sur support web et support mobile.
      </p>

      <p class="para">
        Pour y accéder, l’utilisateur doit s’assurer de la disponibilité et de la bonne fonctionnalité des moyens suivants :
      </p>
      <ul>
        <li>un terminal à interface web ou mobile compatible avec l’Application ;</li>
        <li>un accès au réseau Internet ;</li>
        <li>Un système d’exploitation mobile Android, Apple  ou tout autre permettant son téléchargement.</li>

      </ul>

      <p class="para">
        Dans sa version web, l’Application est accessible gratuitement sur le site internet : <a href="http://upay.africa">www.UPay.africa</a> où un onglet lui est dédiée. Dans sa version mobile, l’Application est accessible gratuitement en téléchargement sur les plateformes d’Applications notamment « Apple Store », « Google Play Store» et toute autre plateforme possible.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">4</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">COMPTE DE MONNAIE ELECTRONIQUE</span>
      </div>

      <p class="para">
        Toutes les opérations qui sont faites via UPay doivent être apparentées à un compte de monnaie électronique.
        ATPS informe l’utilisateur que son compte de monnaie électrique par défaut est un compte Wizall au nom d’ATPS. Pour toute information sur la gestion de ce compte, vous pouvez consulter les CGU qui sont disponibles sur leur site internet de Wizall.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">5</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">GEOLOCALISATION</span>
      </div>

      <p class="para">
        L’Application est dotée de l’outil de géolocalisation par GPS.
      </p>

      <p class="para">
        Tout utilisateur qui souhaite utiliser la fonction de géolocalisation peut l’activer en acceptant que l'Application puisse y avoir recours directement dans les réglages de son terminal mobile. Cette fonctionnalité peut, à tout moment, et sans frais, être désactivée ou activée par l’utilisateur qui en garde ainsi la responsabilité et le contrôle.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">6</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">CONDITIONS FINANCIERES</span>
      </div>

      <p class="para">
        L’Application « UPAY » est proposée gratuitement aux Utilisateurs.
      </p>

      <p class="para">
        Il n’est toutefois pas pris en compte le coût de :
      </p>
      <ul>
        <li>l’abonnement auprès de l’opérateur de téléphonie mobile ;</li>
        <li>la connexion et de l’accès au réseau Internet ;</li>
        <li>tout surcoût éventuel facturé pour le chargement des données ;</li>
        <li>tout coût éventuel lié aux biens ou services acquis/payés via l’application UPay</li>
      </ul>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">7</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">PROPRIETE INTELLECTUELLE </span>
      </div>

      <p class="para">
        Les codes, progiciels, programmes, logiciels, utilitaires, images, photographies, sons, vidéos, textes, services liés, interfaces graphiques et tous autres éléments composant directement ou indirectement, connectés, liés et/ou dérivés de l’Application constituent la propriété exclusive de ATPS et constituent des œuvres protégeables au sens de la loi sénégalaise n° 2008-09 sur le droit d’auteur et les droits voisins ou des lois similaires dans le pays d’utilisation.
      </p>

      <p class="para">
        Les composants précités, leur mise à niveau, mise à jour et/ou autres versions de l’Application, si et quand ces éléments sont publiés, toute documentation pertinente s'y rapportant et tous les autres droits non expressément accordés sont également la propriété exclusive de l’éditeur.
      </p>

      <p class="para">
        Aucune des dispositions des CGU ne peut être à ce titre interprétée comme une cession, un transfert, une vente, une concession, une licence, un prêt, une location, une autorisation d'exploitation consentie directement ou indirectement par ATPS au profit de l'Utilisateur sur l'Application, son Contenu et/ou les Services fournis.
      </p>

      <p class="para">
        UPay est une marque déposée d’ATPS auprès de l’OAPI.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">8</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">DROITS D’UTILISATION DE L’APPLICATION</span>
      </div>
      <p class="para">
        Sans préjudice des dispositions de l’article 6 ci-avant, ATPS concède à l’Utilisateur un droit personnel d’utilisation de l’Application, du Contenu et des Services, non exclusif, révocable, non cessible, non transférable, universel et gratuit aux fins d’une utilisation exclusivement personnelle et privée de l’Application, de son contenu et des Services, à l’exclusion de toute autre finalité.
      </p>

      <p class="para">
        L’Utilisateur n’acquiert aucun droit de propriété intellectuelle sur l’Application, le Contenu et/ou les Services ni aucun autre droit que ceux conférés par les présentes.
      </p>

      <p class="para">
        Il est strictement interdit à l’Utilisateur d’accéder et/ou d’utiliser les codes source de l’Application et/ou des composants logiciels de l’Application.
      </p>

      <p class="para">
        L'Utilisateur s'engage et garantit expressément et indéfiniment ATPS contre toutes utilisations :
      </p>
      <ul>
        <li>frauduleuses, illicites et/ou non autorisées de l’application et de ses composants ;</li>
        <li>pouvant porter atteinte aux droits de propriété intellectuelle d’ATPS, notamment à ce que l’utilisation ne constitue pas un acte de contrefaçon, de concurrence déloyale ou parasitaire de l’Application et son Contenu.</li>
      </ul>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 7px;">
        <span style="font-weight: 600;color:#1f5e9e">9</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">OBLIGATIONS DE L’UTILISATEUR</span>
      </div>

      <p class="para">
        Dans le cadre de l’accès à l’Application, l’Utilisateur s’engage intégralement et expressément à :
      </p>
      <ul>
        <li>accéder à l’Application sur supports web et mobile dans le strict respect des dispositions légales, réglementaires et conventionnelles applicables, notamment celles visées aux présentes ;</li>
        <li>télécharger l’Application sur son équipement exclusivement pour un usage privé et personnel  et non mercantile ;</li>
        <li>ne pas reproduire de façon permanente ou provisoire l’Application, les Services et/ou le Contenu, en tout ou partie, par tout moyen et sous toute forme ;</li>
        <li>ne pas procéder à toute adaptation, modification, traduction, transcription, arrangement, compilation, décompilation, assemblage, désassemblage, transcodage, ni appliquer la rétro-ingénierie (ou « Reverse Engineering ») de tout ou partie de l’Application, des Services et/ou du Contenu ;</li>
        <li>ne pas exporter l’Application, de fusionner tout ou partie de l’Application avec d'autres programmes informatiques ;</li>
        <li>ne procéder à aucune utilisation du Contenu notamment textuel à titre de citations, analyses et reproductions destinées à la presse ainsi que toutes autres utilisations similaires sans autorisation préalable de l’éditeur ;</li>
        <li>renoncer expressément à utiliser des logiciels ou dispositifs susceptibles de perturber le bon fonctionnement de l’Application ;</li>
        <li>ne pas mettre en place des systèmes susceptibles de pirater l’Application et/ou le Contenu en tout ou partie, ou de nature à violer les présentes CGU ;</li>
        <li>informer ATPS dès la connaissance d'un acte de piratage et en particulier de toute utilisation illicite ou non autorisée de l’Application et/ou du Contenu quel que soit le mode de diffusion ;</li>
        <li>ne pas vendre, louer, sous-licencier ou distribuer de quelque façon que ce soit l’Application et/ou le Contenu à des tiers.</li>
      </ul>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">10</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">LUTTE CONTRE LE BLANCHIMENT DE CAPITAUX ET LE FINANCEMENT DU TERRORISME</span>
      </div>

      <p class="para">
        Conformément à la réglementation en vigueur en matière de lutte contre le blanchiment de capitaux et le financement du terrorisme, l’utilisateur est conscient du fait que ATPS a l’obligation d’identifier les personnes qui font les transactions et d’analyser ces dernières.
      </p>

      <p class="para">
        En ce sens, l’utilisateur s’engage à renseigner des données exactes et exhaustives en ce qui concerne son identité et l’objet des opérations financières qu’il va effectuer.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">11</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">PROTECTION DES DONNEES A CARACTERE PERSONNEL</span>
      </div>

      <p class="para">
        ATPS propose l’Application « UPAY » aux utilisateurs dans le strict respect de la loi en vigueur dans le pays d’utilisation relative à la protection des données à caractère personnel.
        Les données à caractère personnel de l’utilisateur recueillies par l’éditeur à travers l’utilisation de l’Application font l’objet d’un traitement informatique destiné à permettre la disponibilité de l’Application et/ou la pertinence des Services et Contenus.
      </p>

      <p class="para">
        L’éditeur garantit que les traitements opérés sur les données à caractère personnel de l’utilisateur le sont en conformité avec les exigences de légitimité, de licéité, de loyauté, de sécurité et de conservation telles que prescrites dans la loi en vigueur dans le pays d’utilisation relative à la protection des données à caractère personnel. Il garantit en outre que ces données sont uniquement destinées aux finalités pour lesquelles elles sont recueillies.
        Seules les personnes habilitées par l’éditeur de par leur fonction ont accès aux données à caractère personnel de l’Utilisateur.
      </p>

      <p class="para">
        Conformément à la loi n° 2008-12 relative à la protection des données à caractère personnel, l’Utilisateur bénéficie d’un droit d’accès et de rectification aux informations le concernant. Il peut exercer ce droit en s’adressant directement à l’éditeur, par courrier postal aux adresses suivantes ou par courrier électronique à l’adresse
        <a href="mailto:cgu@UPay.africa">cgu@UPay.africa</a>
      </p>

      <table border="1" style="width: 100%;text-align: center;margin-bottom: 20px">
        <tr>
          <td style="background: #0b4682;color: white">Pays</td>
        </tr>
        <tr>
          <td>Sénégal</td>
        </tr>
        <tr>
          <td>Côte d'ivoire</td>
        </tr>
        <tr>
          <td>Mali</td>
        </tr>

      </table>

      <table border="1" style="width: 100%;text-align: center;margin-bottom: 20px">
        <tr>
          <td style="background: #0b4682;color: white">Adresse</td>
        </tr>
        <tr>
          <td>ATPS SN, n° 9412, Sicap Sacré-Cœur 3 à DAKAR</td>
        </tr>
        <tr>
          <td>ATPS CI, Cocody les II Plateaux,ENA villa Chaloub, Bingerville à ABIDJAN</td>
        </tr>
        <tr>
          <td>ATPS ML, Quinzambougou, Rue Achkabad, Immeuble Koumalim à BAMAKO</td>
        </tr>

      </table>

      <table border="1" style="width: 100%;text-align: center;margin-bottom: 20px">
        <tr>
          <td style="background: #0b4682;color: white">Téléphone</td>
        </tr>
        <tr>
          <td>(+221) 33 869 31 22</td>
        </tr>
        <tr>
          <td>(+225) 22 02 03 30</td>
        </tr>
        <tr>
          <td>(+223) 20 23 12 69</td>
        </tr>

      </table>

      <p class="para">
        Toute évolution réglementaire en matière de protection des données à caractère personnel pouvant donner lieu à un renforcement des obligations s’applique directement et de manière automatique aux traitements des données  à caractère personnel des Utilisateurs de l’Application.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">12</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">CONFIDENTIALITE</span>
      </div>

      <p class="para">
        L’éditeur s’engage, tant pendant la durée du présent contrat qu’après sa cessation, à garder la stricte confidentialité sur les informations fournies par l’Utilisateur. A ce titre, les informations fournies par l’Utilisateur ne sont utilisées que pour les finalités pour lesquelles elles ont été partagées et ne sont transmises que lorsque cette transmission est strictement nécessaire et autorisée par l’Utilisateur.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">13</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">DISPONIBILITE DE L’APPLICATION</span>
      </div>

      <p class="para">
        L’Application est accessible 24 heures sur 24, 7 jours sur 7 sauf en cas de force majeure ou de survenance d'un évènement hors du contrôle de ATPS et sous réserve des éventuelles pannes, indisponibilité et interventions de sauvegarde ou de maintenance nécessaires au bon fonctionnement de l’Application.
      </p>

      <p class="para">
        ATPS s'engage à faire ses meilleurs efforts pour sécuriser la disponibilité, l'accès, la consultation et l'utilisation des Services, de l’Application et du Contenu. Les interventions de maintenance pourront être effectuées sans que les Utilisateurs aient été préalablement avertis.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">14</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">RESPONSABILITES</span>
      </div>

      <p class="para">
        L’Application, les Services et le Contenu sont fournis « tel quel » et « comme disponible » sans garantie quelle qu’elle soit.
      </p>

      <p class="para">
        L’accès, le téléchargement et l’utilisation de l'Application se font aux risques et périls de l'Utilisateur.
      </p>

      <p class="para">
        Du fait des caractéristiques et limites liées à la technologie et pour lesquelles la responsabilité de ATPS ne saurait être engagée, l’Utilisateur s‘engage à prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels stockés sur ses équipements informatique et téléphonique, contre toute atteinte.
        De même, l'Utilisateur déclare connaître et accepter notamment :
      </p>
      <ul>
        <li>les caractéristiques et les limites du réseau Internet et, notamment les caractéristiques fonctionnelles et des performances techniques du réseau Internet ;</li>
        <li>les problèmes liés :</li>
        <li>à la connexion et/ou l'accès au réseau Internet et/ou aux sites web ;</li>
        <li>à la disponibilité et à l'encombrement des réseaux ;</li>
        <li>à la défaillance ou à la saturation des réseaux ;</li>
        <li>au temps de transit, à l’accès aux informations mises en ligne, aux temps de réponse pour afficher, consulter, interroger ou autrement transférer des données ;</li>
        <li>les risques d’interruption ;</li>
        <li>l'absence de protection de certaines données contre des détournements éventuels ou piratage ;</li>
        <li>les risques de contamination par d’éventuels virus circulant sur les dits réseaux, etc.</li>
      </ul>

      <p class="para">
        ATPS ne peut aucunement, en raison de ce qui précède, être tenue pour responsable :
      </p>

      <ul>
        <li>en cas de défaut, de perte, de retard ou d’erreur de transmission de données ;</li>
        <li>de l'envoi de messages et/ou de données à une adresse fausse, erronée ou incomplète ;</li>
        <li>si des données ne lui parvenaient pas, pour quelque raison que ce soit, ou si les données qu’elle reçoit étaient illisibles ou impossibles à traiter ;</li>
        <li>au cas où l’Utilisateur ne parvenait à accéder ou à utiliser le Site, l’Application et/ou les Services pour quelque raison que ce soit ;</li>
        <li>si, pour quelque raison que ce soit, la connexion devait être interrompue.</li>
        <li>Par ailleurs, ATPS ne saurait en aucun cas être tenue responsable de tout dommage, de quelque nature que ce soit, causé aux Utilisateurs, à leurs terminaux, à leurs équipements informatiques et téléphoniques et aux données qui y sont stockées ni des conséquences pouvant peser sur leur activité personnelle, professionnelle ou commerciale dues à l’accès et/ou l’utilisation de l’Application, ni des conséquences de l’accès et/ou l’utilisation de l’Application sur des tiers.</li>
        <li>Enfin, ATPS décline toute responsabilité en cas d’utilisation défectueuse ou illicite du terminal et/ou d'incident lié à l'utilisation du terminal, lors de l’utilisation de l’Application, les Services ou le Contenu.</li>
      </ul>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">15</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">VERSIONNING </span> <br> <span><b>15.1 VERSIONNING DES CGU</b></span>
      </div>

      <p class="para">
        Les CGU applicables sont celles en vigueur à la date de la connexion et de l’utilisation de l’Application par l’Utilisateur.
      </p>

      <p class="para">
        ATPS se réserve le droit de modifier, à tout moment, tout ou partie, des dispositions des CGU sans préavis ni information préalable aux Utilisateurs afin de les adapter aux évolutions des Services, aux évolutions techniques, légales ou jurisprudentielles ou lors de la mise en place de nouvelles prestations. Les modifications éventuellement apportées par ATPS aux CGU sont portées à la connaissance des Utilisateurs par leur simple mise en ligne. Elles sont réputées acceptées sans réserve par tout Utilisateur qui accède à l’Application postérieurement à ladite mise en ligne. ATPS invite donc tout Utilisateur à consulter régulièrement les CGU.
      </p>

      <p class="para">
        Tout nouveau Service ou Contenu intégrant de nouvelles techniques ou nouvelles caractéristiques améliorant la qualité des Services existants est également soumis aux présentes CGU, sauf disposition expresse contraire.
      </p>

      <p class="para">
        <span><b>15.2 VERSIONNING DE L’APPLICATION</b></span>
        L’Application, les Services et le Contenu, peuvent être sujets à des mises à jour, notamment en raison des modifications, maintenances ou sauvegardes dues à d’éventuelles évolutions techniques, législatives ou réglementaires. Il s’agit d’interventions entreprises sans avertissement préalable ou postérieure, et sans périodicité établie.
        En conséquence, l’Application, les Services et/ou le Contenu téléchargés et/ou utilisés ont une validité limitée dans le temps et les utilisateurs sont priés de prendre connaissance desdites interventions dès leur accès afin d’agir en toute responsabilité.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">16</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">RESILIATION </span>
      </div>

      <p class="para">
        ATPS peut mettre fin ou changer les conditions d’utilisation de l’Application à tout moment.
        Au moment de toute résiliation, les droits et/ou les licences accordés seront résiliés automatiquement et de plein droit et Vous devrez cesser toute utilisation de l’Application.

      </p>
      <p class="para">
        L’utilisateur est le responsable exclusif de l’usage qu’il fait de l’Application.
      </p>
      <p class="para">
        Il peut décider à tout moment d’en arrêter l’utilisation par la fermeture de la page d’accueil de l’Application web et/ou la désinstallation de l’Application mobile ainsi que de la suppression de ses données à caractère personnel sur demande manuscrite.
      </p>

      <p class="para">
        En cas de non-respect des présentes CGU et des règles régissant l’accès et/ou l’utilisation de l’Application, ATPS se réserve le droit de suspendre et/ou bloquer l’utilisation de l’Application ainsi que la prise de toutes mesures légales, réglementaires et conventionnelles.
      </p>

      <div>
        <span style="display:inline-block;border-radius: 50%;width: 30px;height: 30px;border: 4px solid#1f5e9e;padding: 4px;padding-left: 3px;">
        <span style="font-weight: 600;color:#1f5e9e">17</span>
      </span>
        <span style="font-weight: 600;color:#1f5e9e;margin-left: 10px;">CONTACT</span>
      </div>

      <p class="para">
        Toute question relative à l’Application, au Contenu et/ou aux Services doit être adressée à :
      </p>
      <table border="1" style="width: 100%;text-align: center;margin-bottom: 20px">
        <tr>
          <td style="background: #0b4682;color: white">Pays</td>
        </tr>
        <tr>
          <td>Sénégal</td>
        </tr>
        <tr>
          <td>Côte d'ivoire</td>
        </tr>
        <tr>
          <td>Mali</td>
        </tr>

      </table>

      <table border="1" style="width: 100%;text-align: center;margin-bottom: 20px">
        <tr>
          <td style="background: #0b4682;color: white">Adresse</td>
        </tr>
        <tr>
          <td>ATPS SN, n° 9412, Sicap Sacré-Cœur 3 à DAKAR</td>
        </tr>
        <tr>
          <td>ATPS CI, Cocody les II Plateaux,ENA villa Chaloub, Bingerville à ABIDJAN</td>
        </tr>
        <tr>
          <td>ATPS ML, Quinzambougou, Rue Achkabad, Immeuble Koumalim à BAMAKO</td>
        </tr>

      </table>

      <table border="1" style="width: 100%;text-align: center;margin-bottom: 20px">
        <tr>
          <td style="background: #0b4682;color: white">Téléphone</td>
        </tr>
        <tr>
          <td>(+221) 33 869 31 22</td>
        </tr>
        <tr>
          <td>(+225) 22 02 03 30</td>
        </tr>
        <tr>
          <td>(+223) 20 23 12 69</td>
        </tr>

      </table>

      <div style="width: 100%;margin-bottom: 20px;margin-top: 30px" id="btncontrol" (click)="dismiss()">
        <button id="btnsvt" style="height: 40px;width: 100%;background: #074a94;color: white" >J'accepte</button>
      </div>

    </div>
  </div>
</ion-content>

